body {
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
    
}

h4 {
    font-weight: 600;
}

.content {
    position: relative;
    min-height: 100vh;
}

.imageHolder {
    text-align: center;
}

#body {
    padding-bottom: 20em;
}

#footer {
    background-color: rgb(185, 248, 248);
    left: 0;
    bottom: 0;
    width: 100%; 
    padding-top: 1em;
    margin-top: 1em;
    height: 19em;
    position: absolute;
}

#contact {
    background-color: rgb(185, 248, 248),
}

#profile {
    border-radius: 10%;
}

.copy {
    text-align: center;
    color: gray;
    font-size: small;

}

.fab, .fas{
    color: rgb(0, 140, 255);
}

#exp, #portfolio {
    background-color: bisque;
    height: 550px;
}

@media screen and (max-width: 475px){
    #body {
        padding-bottom: 27em;
    }

    #footer {
        height: 27em;
    }
    
}
@media screen and (max-width: 575px){
    #body {
        padding-bottom: 25em;
    }

    #footer {
        height: 25em;
    }
    
}
