body {
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
    background-color: rgba(250, 243, 243, .5);
}

h4 {
    font-weight: 600;
    padding-bottom: 1em;
}

.col h5 {
    color: #007bff;
    text-align: start;
}

.container {
    display: block;
}

.navbar-brand img {
    height: 40px;
}

.navbar-toggler {
    color: #007bff;
}

#navbar {
    background-color: rgb(185, 248, 248);
}

.header-logo {
    height: 325px;
}

.content {
    position: relative;
    min-height: 100vh;
}

.imageHolder, .header-home {
    text-align: center;
}

.header-home {
    font-size: x-large;
}

.change, .col-md-5 h4 {
    color:rgb(117, 214, 38);
    text-align: center;
}

.date {
    font-size: small;
    color: gray;
}

.clipart {
    text-align: center;
}

#body {
    padding-bottom: 20em;
    padding-top: 5em;
}

.exp-container .container {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.here:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid rgb(117, 214, 38);
    transform: translate(-50%);
}

#footer {
    background-color: rgb(185, 248, 248);
    left: 0;
    bottom: 0;
    width: 100%; 
    padding-top: 1em;
    margin-top: 1em;
    height: 19em;
    position: absolute;
}

#contact {
    background-color: rgb(185, 248, 248),
}

#profile {
    border-radius: 10%;
    max-height: 300px;
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 15em;
    margin-bottom: 2em;

}

.project img {
    display: block;
    object-fit: cover;
    height: 15em;
    width: 100%;
    border-radius: 15px;
}

.project-content {
    position: relative;
    transition: .3s;
    box-shadow: 10px 20px 20px rbga(0,0,0,0.8);
}

.project-content .text-content,
.project-content::after {
    position: absolute;
    left: 0px;
    right: 0px;
}

.project-content:after{
    content: '';
    display: block;
    top: 0px;
    bottom: 0px;
    opacity: 0;
    transform: rotate3d(-1,1,0,100deg);
    transition: .4s;
    border-radius: 15px;
}

.project:nth-child(1) .project-content:after{
    background-color: rgb(250, 135, 154);
}

.project:nth-child(2) .project-content:after{
    background-color: #7252cc;
}


.project:nth-child(3) .project-content:after{
    background-color: #5ea2d6;
}


.project-content:hover:after {
    opacity: .85;
    transform: rotate3d(0,0,0,0deg);
}

.text-content {
    top: 45%;
    opacity: 0;
    z-index: 1;
    transform: translate(10%,-30%);
    transition: .3s;
    text-align: center;
    color: #fff;
    font-size: x-large;
}

.project-content:hover .text-content{
    opacity: 1;
    transform: translate(0, -50%);
}

.copy {
    text-align: center;
    color: gray;
    font-size: small;
}

.fab, .fas{
    color: rgb(0, 140, 255);
}

#exp, #portfolio {

}

@media screen and (max-width: 475px){
    #body {
        padding-bottom: 27em;
    }

    #footer {
        height: 27em;
    }


    
}
@media screen and (max-width: 575px){
    #body {
        padding-bottom: 25em;
    }

    #footer {
        height: 25em;
    }


}

@media screen and (max-width: 769px){
    .imageHolder {
        text-align: center;
    }

    div.col-md-4 p {
        padding-top: 2.5em;
    }
}

